* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  background-color: #BFF9F9;
}

.navbar-custom {
  background-color: #BFF9F9;
  font-family: "Perpetua", serif;
}

.navbar-nav {
  display: flex;
  align-items: flex-end;
}

.custom-toggler .navbar-toggler {
  background-color: black;
}

.first-piece {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}


.piece {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 25%;
  margin-right: auto;
  margin-left: 25px;
}


.first-art {
  margin-top: 20px;
}

.info {
  margin-left: 25px;
  margin-right: 25px;
  line-height: 1.55;
  color: #2D5252;
  text-align: justify;
}

.find-out {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 75%;
  align-self: center;
}

a {
  display: flex;
  flex-direction: row;
  width: "100%";
  justify-content: space-between;
  text-decoration: none;
}

.find {
  color: black;
  font-size: 1.5em;
}

.art {
  margin-top: 25px;
  margin-bottom: 25px;
}

.sub {
  margin-top: 25px;
  margin-bottom: 15px;
  text-align: center;
}

.subtitle {
  margin-right: 25px;
  margin-left: auto;
  color: #98AFAF;
  font-size: 2em;
}

.sub {
  font-size: 1.5em;
  color: black;
  font-family: "Helvetica", serif;
}

.news-container {
  height: 200px;
  background-color: #3F1989;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup {
  padding-top: 2%;
  padding-bottom: 4%;
}
.signup,
.sign-sub,
.info-sub,
.signup-maker {
  background-color: #F3E4C6;
}

.sign-sub {
  padding-left: 20px;
}

.signup-box {
  background-color: #BFF9F9;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  font-family: "Perpetua", serif;
  font-size: 1.25em;
  padding-left: 5%;
  box-shadow: 1px 2px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-link {
  display: block;
  width: 50%;
  text-align: center;
}

.first-text {
  font-family: "Brush Script MT", serif;
  text-align: center;
  font-size: 5em;
}

.find,
.sub,
p,
h3 {
  font-family: "Perpetua", serif;
}

.resume {
  text-size: .7em;
  list-style-type: disc;
  width: 74%;
  padding-left: 35px;
}

.res-item {
  font-family: "Perpetua", serif;
}

.pc-info {
  margin-top: 25px;
}

.reservation-link {
  display: inline;
}

.reservation-maker {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-top: 25px;
}

.entry-box {
  background-color: white;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  font-family: "Perpetua", serif;
  font-size: 1.25em;
  padding-left: 5%;
  box-shadow: 1px 2px;
}

.submit-box {
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  padding-left: 0%;
}

.nav-link {
  color: gray;
}

.nav-link-present {
  color: black;
}

.hostess-subtitle,
.seven-days {
  margin-top: 56px;
  padding-left: 20px;
}

.park-city-subtitle,
.attractions-subtitle,
.paiting-subtitle {
  padding-left: 20px;
}

.intro-info {
  margin-left: 25px;
  margin-right: 25px;
  line-height: 1.55;
  color: #2D5252;
}

@media only screen and (max-width: 400px) {
.attractions-subtitle {
  margin-top: 55px;
}
}

@media only screen and (min-width: 960px) {

/* HOME PAGE*/

.everything {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.first-text {
  font-size: 7em;
}

.first-piece {
    display: flex;
    flex-direction: row;
    height: 600px;
    width: 1300px;
}

.intro-info {
  font-size: 2em;
  width: 400px;
  text-align: right;
  justify-content: flex-start;
  align-self: flex-start;
  padding-top: 100px;
  padding-left: 100px;
}

.first-art {
  width: 900px;
}

.second-piece {
  width: 1300px;
  display: flex;
  flex-direction: row;
}

.subtitle {
  font-size: 60px;
}

.second-art {
  width: 2500px;
  padding-left: 50px;
  order: -1;
}

.second-sub {
  font-size: 2em;
  width: 400px;
  text-align: left;
  padding-left: 10px;
}

.second-info  {
  font-style: 1.5em;
  text-align: left;
}

.subtitle {
  padding-right: 50px;
}

.third-piece {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1300px;
}

.third-sub {
  font-size: 2em;
  width: 400px;
  text-align: right;
  padding-left: 10px;
  margin-left: 270px;
}

.info {
  font-size: 1.1em;
}

.third-info {
  text-align: right;
}

.find-out-hostess {
  margin-left: 70px;
}

.signup-maker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-box {
  width: 700px;
}

/* PARK CITY */

.park-city-first-piece {
  display: flex;
  flex-direction: row;
  height: 380px;
}

.first-picture {
  width: 1700px;
}

.pc-info {
  text-align: right;
}

.park-city-second-piece {
  display: flex;
  flex-direction: row;
  height: 380px;
}

.second-picture {
  width: 7200px;
  height: 300px;
  order: -1;
  margin-left: 40px;
}

.painting-subtitle {
  margin-top: 200px;
}

.park-city-third-piece {
  display: flex;
  flex-direction: row;
  margin-right: 40px;
  margin-bottom: 40px;
}

.painting-info {
  padding-top: 100px;
  text-align: right;
}


/* HOSTESS PAGE */

.hostess-text {
  display: flex;
  flex-direction: row;
  height: 300px;
}

.everything-hostess {
  width: 1200px;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.third-sub-hostess {
  width: 200px;
  text-align: right;
  height: 500px;

}

.third-info-hostess {
  width: 400px;
  height: 300px;
  margin-top: 20px;
}

.hostess-pic-one {
  width: 400px;
  margin-right: 100px;
}

.second-piece-hostess {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 1200px;
  margin-bottom: 40px;
  order: -1;
}

.hostess-pic-three {
  width: 400px;
  margin-left: 100px;
  order: 1;
}

.resume-holder {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 65px;
}

.hostess-pic-two {
  margin-top: 75px;
  width: 600px;
  align-self: center;
}

.name-info {
  width: 600px;
  align-self: center;
  text-align: center;
}

/* RESERVATION PAGE */
.everything-reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation-pic-one {
  width: 700px;
}

.reservation-pic-two {
  width: 700px;
}

.reservation-maker {
  width: 700px;
}

.navbar-custom {
  background-color: #BFF9F9;
  font-family: "Perpetua", serif;
  font-size: 1.5em;
}

.info {
  font-size: 1.2em;
}

}


@media only screen and (min-width: 401px) and (max-width: 959px) {
/* HOME PAGE*/
.seven-days {
  margin-top: 200px;
}

.hostess-home-pic {
  align-self: center;
  width: 500px;
}

/* PARK CITY PAGE*/
.attractions-subtitle {
  margin-top: 120px;
}

.park-city-second-piece {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-picture {
  width: 600px;
}

.park-city-third-piece {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.hostess-pic-two {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hp2 {
  width: 80%;
}

}
